<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Portfolio</div>
       
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="assets/images/project-1.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Connexion stagiaire</div>
                      <p>Développement d'applications mobiles</p>
                      <p>Application pour connecter les entreprises avec les étudiants.</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="assets/images/project-2.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Portfolio personnel</div>
                      <p>Projet de développement Web</p>
                      <p>Site Portfolio pour vous mettre en valeur.</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="assets/images/project-3.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Projet de recherche de maison</div>
                      <p>Développement d'applications mobiles</p>
                      <p>Application pour aider à localiser les maisons.</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="assets/images/project-4.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Projet de gestion clinique</div>
                      <p>Développement d'applications Java</p>
                      <p>Une application pour aider à gérer les petits centres de santé.</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>