<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2016 - 2019</p>
            <div class="h5">Licence</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Licence professionnel en génie logiciel et base de donnée</div>
            <p class="category">Institut Universitaire de Technologie (IUT-FV)</p>

            <div class="h5">Diplôme d'Etude Superieur et Professionnel</div>
            <p class="category">Institut Universitaire Siantou (IUS)</p>

           
            
          </div> 
         
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2009 - 2016</p>
            <div class="h5">Etude Secondaire</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Baccalauréat D</div>
            <p class="category">Lycée Classique de Foumbot</p>

            <div class="h5">Probatoire D</div>
            <p class="category">Lycée Classique de Foumbot</p>

            <div class="h5">Brévet d'etude du premiér cycle(BEPC)</div>
            <p class="category">Lycée Classique de Foumbot</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>